jobs:
- job: 'Publish Assets'
  pool:
    vmImage: 'ubuntu-16.04'
  variables:
    buildConfiguration: 'Release'
  steps:
    - task: PublishBuildArtifacts@1
      inputs:
        pathtoPublish: '$(Build.SourcesDirectory)/assets/'
        ArtifactName: 'assets'

jobs:
- job: 'Publish Linux x64'
  pool:
    vmImage: 'ubuntu-16.04'
  variables:
    buildConfiguration: 'Release'
  steps:
  - template: publish-rid.yml
      parameters:
        runtime: 'linux-x64'
        outputPath: '$(Build.ArtifactStagingDirectory)/pub/linux-x64'

- job: 'Publish macOS x64'
  pool:
    vmImage: 'macOS-10.13'
  variables:
    buildConfiguration: 'Release'
  steps:
  - template: publish-rid.yml
      parameters:
        runtime: 'osx-x64'
        outputPath: '$(Build.ArtifactStagingDirectory)/pub/osx-x64'

- job: 'Publish Windows x64/x86'
  pool:
    vmImage: 'vs2017-win2016'
  variables:
    buildConfiguration: 'Release'
  steps:
  - template: publish-rid.yml
      parameters:
        runtime: 'win-x64'
        outputPath: '$(Build.ArtifactStagingDirectory)/pub/win-x64'
  - template: publish-rid.yml
      parameters:
        runtime: 'win-x86'
        outputPath: '$(Build.ArtifactStagingDirectory)/pub/win-x86'
